{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<div class="container text-center">
		<div class="row">
			<div class="col"></div>
			<div class="col">
				<div class="grid product">
					<div class="column-xs-12 column-md-5">
						<h1>{{produit.nom}}</h1>
						<h2>{{ produit.prix}}
							€</h2>
						<div class="description">
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantiu  architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
						</div>
						<button class="btn btn-light">Ajouter au panier</button>
					</div>
				</div>
			</div>
			<div class="col"></div>
		</div>
	</div>

{% endblock %}
